@import "tailwindcss";

html, body, #root {
  transition: background-color 0.3s, color 0.3s;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.35s ease-out;
}