[defaults]
host_key_checking = False
deprecation_warnings = False
inventory = inventory/aws_ec2.yml
private_key_file = ~/.ssh/k8-SecurityKey.pem
remote_user = ubuntu

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand="ssh -W %h:%p -q ubuntu@51.20.93.11 -i ~/.ssh/k8-SecurityKey.pem"
pipelining = True
